@tailwind utilities;

@font-face {
  font-family: "Wedges";
  src: url("/fonts/Wedges.ttf") format("truetype");
  font-display: swap;
}

.font-wedges {
  font-family: "Wedges", sans-serif;
}

html {
  font-family: system-ui, sans-serif;
}
